@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.Food_Type_Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Food_Name {
  font-size: 1rem;
  /* font-weight: 00; */
  line-height: 2.5rem;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Barlow-Bold";


}
.Food_Details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.7rem;
}
.Food_Title {
  font-family: "Poppins-Medium";
  font-size: 0.98rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.Food_Price {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}
.VagLogo {
  width: 1rem;
  object-fit: cover;
}

.activeCategory {
  color: #832a0e;
}
@media only screen and (max-width: 600px) {
  .Food_Name {
    font-size: 0.98rem;
  }
  .Food_Title {
    font-size: 0.88rem;
  }
  .Food_Price {
    font-size: 0.8rem;
  }
  .VagLogo {
    width: 0.9rem;
  }
}
@media only screen and (max-width: 450px) {
  .Food_Name {
    font-size: 0.98rem;
  }
  .Food_Title {
    font-size: 0.88rem;
  }
  .Food_Price {
    font-size: 0.88rem;
  }
  .VagLogo {
    width: 0.8rem;
  }
}
